        .map_canvas {
            width: 950px;
            
            margin: 0px;
             position: relative;
        }

        
        /*.angular-google-map-container {
            position: absolute;
            top: 0;
            bottom: 400px;
            right: 0;
            left: 50px;
        }*/
        
        .angular-google-map-container {
            position: absolute;
            top: 0;
            left: 00px;
            width:900px; 
            height:600px;
            
        }